@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #050505; /* Void Black */
  overflow-x: hidden;
}

/* Grid Tático de Fundo */
.tactical-grid {
  background-image: linear-gradient(to right, #27272a 1px, transparent 1px),
                    linear-gradient(to bottom, #27272a 1px, transparent 1px);
  background-size: 40px 40px;
  opacity: 0.05;
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 0;
}

/* Utilitário para bordas finas */
.border-tactical {
  @apply border border-zinc-800;
}